<div class="new-container">
    <div class="house-image">
        <div class="title">
            <h1>ДОБАВИ КЪЩА ЗА ГОСТИ</h1>
        </div>
    </div>
    <section class="new-page" >
        <img class='image' src="../../../assets/house-128.png" alt="" />
        <form class='food-form' #form="ngForm" (ngSubmit)="newHouseSubmit(form)">
            <div class='container'>
                <h1>ДОБАВИ КЪЩА ЗА ГОСТИ</h1>
                <label name='name'>Име:</label>
                <input type="text" id="name" name="name" placeholder='Име на къщата...' ngModel required minlength="3" maxlength="20" #nameInput="ngModel"/>
    
                 <!-- MSG ERROR -->
    
                <div *ngIf="nameInput.touched" class="error">
                    <div *ngIf="nameInput.errors?.['required']">Полето е празно!</div>
                    <div *ngIf="nameInput.errors?.['minlength']">Трябва да съдържа най-малко 3 символа!</div>
                </div>

                <label name='location'>Локация:</label>
                <input type="text" id="location" name="location" placeholder='Местоположение...' ngModel required minlength="3" maxlength="20" #locationInput="ngModel"/>
    
                 <!-- MSG ERROR -->
    
                <div *ngIf="locationInput.touched" class="error">
                    <div *ngIf="locationInput.errors?.['required']">Полето е празно!</div>
                    <div *ngIf="locationInput.errors?.['minlength']">Трябва да съдържа най-малко 3 символа!</div>
                </div>
    
                <label name='price'>Цена:</label>
                <p>(в лева)</p>
                <input type="text" id="price" name="price" placeholder='Цена...' ngModel required #priceInput="ngModel"/>
    
                <!-- MSG ERROR -->
    
                <div *ngIf="priceInput.touched" class="error">
                    <div *ngIf="priceInput.errors?.['required']">Полето е празно!</div>
                </div>

                <label name='phone'>Телефонен за връзка:</label>
                <input type="text" id="phone" name="phone" placeholder='Телефонен номер...' ngModel required minlength="8" #phoneInput="ngModel"/>
    
                <!-- MSG ERROR -->
    
                <div *ngIf="phoneInput.touched" class="error">
                    <div *ngIf="phoneInput.errors?.['required']">Полето е празно!</div>
                    <div *ngIf="phoneInput.errors?.['minlength']">Трябва да съдържа най-малко 8 символа!</div>
                </div>

                <label name='description'>Детайли:</label>
                <textarea name="description" id="description" cols="30" rows="10" placeholder='Подробности за къщата...' 
                ngModel required minlength="10" #descriptionInput="ngModel"></textarea>
    
                <!-- MSG ERROR -->
    
                <div *ngIf="descriptionInput.touched" class="error">
                    <div *ngIf="descriptionInput.errors?.['required']">Полето е празно!</div>
                    <div *ngIf="descriptionInput.errors?.['minlength']">Трябва да съдържа най-малко 10 символа!</div>
                </div>


                <label name='image'>Снимка</label>
                <input type="text" id="image" name="image" placeholder='Url...' ngModel required #imageInput="ngModel"/>
    
                <!-- MSG ERROR -->
    
                <div *ngIf="imageInput.touched" class="error">
                    <div *ngIf="imageInput.errors?.['required']">Полето е празно!</div>
                </div>
    
                <input [disabled]="form.invalid" class='btn submit' type='submit' value="СЪЗДАЙ" />

        </div>
    </form>
    </section>
    </div>

