<div class="wrap-top">
    <div class="loader" *ngIf="isLoading">
        <app-loader />
    </div>
    <div class="top-container" *ngIf="!isLoading">
        <div class="profile-image">
            <div class="title">
                <h1>ПРОФИЛ</h1>
            </div>
        </div>
        <div class="profile">
            <div class="image">
                <img src="../../../assets/profile-icon.png" alt="img8">
            </div>
             <ng-container *ngIf="!isEditMode">
                <div class="email">
                    <p>Име:</p>
                    <p>{{profileDetails.email}}</p>
                </div>
                <div class="username">
                    <p>Име:</p>
                    <p>{{profileDetails.username}}</p>
                </div>
                <button class="btn" (click)="toggleEditMode()">Промени</button>
             </ng-container>
             <ng-container *ngIf="isEditMode">
                <form [formGroup]="form">
                    <div class="email">
                        <p>ИМЕЙЛ:</p>
                        <input type="text" name="email" id="email"
                        formControlName="email">
                    </div>
                    <ng-container *ngIf="form.get('email')?.touched">
                        <p class="error" *ngIf="form.get('email')?.errors?.['required']">Email is required!</p>
                        <p class="error" *ngIf="form.get('email')?.errors?.['appEmailValidator']">Email is not valid!</p>
                    </ng-container>

                    <div class="username">
                        <p>ИМЕ:</p>
                        <input type="text" name="username" id="username"
                        formControlName="username">
                    </div>
                    <ng-container *ngIf="form.get('username')?.touched">
                        <p class="error" *ngIf="form.get('username')?.errors?.['required']">Email is required!</p>
                    </ng-container>
                    <div class="wrap-btn">
                        <button class="red-btn btn" (click)="cancelProfileHandler()">Отмени</button>
                        <button class="green-btn btn" (click)="saveProfileHandler()">Запази</button>
                    </div>
                </form>
             </ng-container>
        </div>
    </div>
    <section class="my-house" *ngIf="!isLoading">
        <div class="wrap-categoria">
            <div class="name-categoria">
                <h1>Мойте публикации</h1>
            </div>
        </div>
        <div *ngIf="haveItems" class="myData">
            <div *ngFor="let house of myHouses">
                <div routerLink="/houses/{{house._id}}" class='container-second'>
                    <div class="container-img">
                        <img class="image" src="{{house.image}}" />
                    </div>
                    <div class='container-items'>
                        <h1> <a routerLink="/houses/{{house._id}}">{{house.name}}</a> </h1>
                        <h3> <a routerLink="/houses/{{house._id}}">{{house.location}}</a> </h3>
                    </div>
                    <a class="btn" routerLink="/houses/{{house._id}}">Виж детайли</a>
                </div>
            </div>
        </div>
        <div *ngIf="!haveItems" class="div-empty">
            <span class="empty">Нямате публикации</span>
        </div>
    </section>
</div>