<div class="login-container">
    <div class="house-image">
        <div class="title">
            <h1>ВХОД</h1>
        </div>
    </div>
    <section class="login-page" >
        <img class='image' src="/../../assets/house-128.png" alt="" />
        <form class='login-form' #form="ngForm" (ngSubmit)="login(form)">
            <div class='container'>
                <h1>Вход</h1>
                <label name='email'>Имейл</label>
                <input type="text" id="email" name="email" placeholder='Напиши имейл...' ngModel email required #emailInput="ngModel"
                [appEmail]="appEmailDomains" />
    
                 <!-- MSG ERROR -->
    
                <div *ngIf="emailInput.touched" class="error">
                    <div *ngIf="emailInput.errors?.['required']">Полето е празно!</div>
                    <div *ngIf="emailInput.errors?.['appEmailValidator']">Невалиден имейл!</div>
                </div>
    
                <label name='password'>Парола</label>
                <input type="password" id="password" name="password" placeholder='Напиши парола...' ngModel required #passwordInput="ngModel"
                [appMaxCount]="8" [appMinCount]="4" />
    
                <!-- MSG ERROR -->
    
                <div class="error" *ngIf="passwordInput.touched">
                    <div *ngIf="passwordInput.errors?.['required']">Полето е празно!</div>
                    <div *ngIf="passwordInput.errors?.['appMinCount']">Паролата е по-кратка от 4 символа!</div>
                    <div *ngIf="passwordInput.errors?.['appMaxCount']">Паролата е по-дълга от 8 символа!</div>
                </div>
    
                <input class='btn submit' type='submit' value="ВХОД" [disabled]="form.invalid"/>
    
                <p className="field">
                    <span>Ако нямаш регистрация натисни <a routerLink="/auth/register">тук</a></span>
                </p>
        </div>
    </form>
    </section>
    </div>
